<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tempProduct.name %></title>
</head>
<body>
    
<h1>Detalhe do Produto: </h1>
<div>
    
    <div><%= tempProduct.name %></div> 
    <div><%= tempProduct.type %></div> 
    <div><%= tempProduct.price %></div> 
    <img src="/images/uploads/<%= tempProduct.photo%>">
    
</div>

    
</body>
</html>